.App {
  text-align: center;
  overflow-y: hidden;
}

.twtlst {
  margin-bottom: 2rem;
}

.req  {
  background-color: #40e0d0;
  color: #ffffff;
  font-size: 3rem;
  padding: .4rem;
  padding-bottom: 3rem;
}

.tw {
  font-size: 3rem;
}


.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
